.dropdown {
	position: relative;
}

.title {
	display: flex;
	align-items: center;
	@apply font-bold;
	@apply py-4;
	@apply mx-4;
}

.title:focus {
	outline: none;
}

.arrow {
	@apply ml-2;
	transition: transform 0.2s;
	transform: rotate(0deg);
}

.dropdown:hover .arrow {
	transform: rotate(180deg);
}

.dropdown .title span:not(.arrow) {
	border-bottom: 3px solid;
	@apply border-transparent;
	transition: border 0.2s ease-in-out, color 0s ease-in-out;
}

.dropdown:hover .title span:not(.arrow) {
	@apply border-fg-primary;
}

.wrapper {
	position: absolute;
	right: 0;
	top: 100%;
	padding-top: 10px;
}

.main {
	display: flex;
	white-space: nowrap;
	text-align: end;
	flex-direction: column;
	@apply px-4;
	@apply py-4;
	@apply shadow-lg;
	@apply bg-bg-secondary;
	@apply rounded-xl;
}

.wrapper {
	display: none;
}

.dropdown:hover .wrapper {
	display: flex;
	pointer-events: auto;
	animation: fade_in_show 0.2s ease-in-out both;
}

@keyframes fade_in_show {
	0% {
		opacity: 0;
		transform: translateY(-0.5rem)
	}

	100% {
		opacity: 1;
		transform: translateY(0)
	}
}

.navLink {
	display: block;
	@apply py-1;
	text-align: right;
	transition: border 0.2s ease-in-out, color 0s ease-in-out;
	border-bottom: 3px solid;
	@apply border-transparent;
	@apply duration-200;
}

.navLink:hover {
	@apply border-fg-primary;
}
