.header {
	position: fixed;
	z-index: 10;
	width: 100%;
	height: 96px;
	transition: 0.5s transform;
}

.header::before {
	transition: opacity 0.5s;
	z-index: -1;
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-backdrop-filter: saturate(200%) blur(8px);
	backdrop-filter: saturate(200%) blur(10px);
}

.headerWrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 100%;
	transition: 0.2s background-color, 0.2s border-color;
	@apply bg-opacity-90;
}

.elements {
	display: flex;
	align-items: center;
	@apply -mx-4;
	@apply px-2;
	@apply pointer-events-auto;
	@apply text-base;
}
