@tailwind components;

.c,
.c-lg {
	@apply px-6;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

@screen lg {
	.c {
		width: 80%;
	}
	.c-lg {
		width: 90%;
	}
}

.input {
	@apply p-2;
	@apply border-b;
	@apply border-x-gray-300;
	@apply bg-transparent;
	height: 41px;
}

.card {
	@apply bg-bg-secondary rounded-lg shadow p-4;
}

@media print {
	.card {
		@apply shadow-none;
		@apply border;
		@apply border-black;
	}
}

select:required:invalid {
	color: #a9a9a9;
}

select.input > option {
	@apply bg-bg-secondary;
}

input[type="color"] {
	width: 20px;
	height: 20px;
	border-radius: 3px;
}

input[type="color"]::-webkit-color-swatch {
	border-radius: 3px;
	padding: 0;
	@apply border;
	@apply border-x-gray-300;
}

input[type="color"]::-webkit-color-swatch-wrapper {
	border-radius: 3px;
	padding: 0;
	@apply border;
	@apply border-x-gray-300;
}

.input:focus {
	outline: none;
	@apply border-fg-primary;
	@apply text-fg-secondary;
}

.input:disabled {
	outline: none;
	@apply text-fg-secondary;
	@apply text-opacity-50;
	cursor: not-allowed;
}

.input-label {
	@apply text-xs;
	@apply text-fg-secondary;
	@apply font-bold;
	@apply mb-2;
}

.t-p {
	font-size: 1rem;
}

.t-h1,
.t-h2,
.t-h3 {
	@apply leading-none;
	font-weight: bold;
}

.t-h1 {
	font-size: 2.5rem;
}

.t-h2 {
	font-size: 2rem;
}

.t-h3 {
	font-size: 1.33rem;
}
